<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="bgPrimary textYellow colSpan2 rowSpanMax">

    <!-- <h1 class="font20 textCenter pointer"> Epics</h1>

    <h1 class="font20 textCenter pointer"> Tiny Quests</h1>


    <h1 class="font20 textCenter pointer">Skills</h1> -->
    
    <h1 *ngIf='offset' (click)="changeOffset(-1)" class="font20 textCenter pointer">🡑</h1>
    
    <h1 class="font20 textCenter pointer" [ngClass]='{"currentEpic":epic===currentEpic}' (click)="epicClick(epic)" *ngFor='let epic of epics'> {{epic.name}}</h1>
    
    <h1 (click)="changeOffset(1)" class="font20 textCenter pointer">🡓</h1>

    
  </div>

<app-quest *ngFor='let quest of quests' [quest]="quest" [quests]="quests" (delete)='delete($event)' [ngClass]="{'bgDanger' : !quest.completed, 'bgSuccess': quest.completed}" class="bgDanger rowSpan4 colSpan2 bgYellow"></app-quest>

<div class="bgDanger rowSpan4 colSpan2">
  <textarea class="textArea font20" [(ngModel)]="description" maxlength="72" name="" id="" cols="17" rows="6"></textarea>

  <h1 (click)="add()" class="add">+</h1>
</div>

</div>
<router-outlet></router-outlet>
 